<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: 'RFPDTRDAKZ',
	apiKey: '468dc807e9ce20084dca363d97a7e58c',
	siteId: '542b2e3b-b62f-4b6a-a226-40b14ececafe',
	branch: 'main',
	selector: 'div#search',
  });
</script>
<div id="search"></div>